// ----------------------- base ---------------------------- //
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	overflow-x: hidden;
	background: #f6f8fa;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-white);
}

#root {
	@include respond(tablet) {
		overflow-x: hidden;
	}
}
